*.class
*.war
*.ear
*.log
*.bak
**/.checkstyle
rebel.xml

.classpath
!/.project
.project
.settings
.DS_Store

classes/
target
test-output/
build
bin/
overlays/
pom.xml.versionsBackup
temp/


# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
.idea/
build/
